<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289433090249-4a7ttddlsuliko2k9sgk3gmlht9a552q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289433090249-4a7ttddlsuliko2k9sgk3gmlht9a552q</string>
	<key>API_KEY</key>
	<string>AIzaSyD0HPxJ58_8N1IL1NzpmQlURqolh_FDCh8</string>
	<key>GCM_SENDER_ID</key>
	<string>289433090249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileApp</string>
	<key>PROJECT_ID</key>
	<string>hmft-op-compvis</string>
	<key>STORAGE_BUCKET</key>
	<string>hmft-op-compvis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289433090249:ios:3c9dd3529e35b7b9313518</string>
</dict>
</plist>